{
  "globals": {
    "require": true
  },
  "parser": "esprima",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
    }
},

  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "strict": 0,
    "comma-dangle": [2, "never"],
    "eol-last": 1, // enforce newline at the end of file, with no multiple empty lines
    "no-param-reassign": [2, { "props": false }]
  },
  "extends": "airbnb/base",
  "settings": {
    "ecmascript": 6
  },
  "overrides": [
    {
      "files": [ "src/**/*.js" ],
      "rules": {

      }
    }
  ]
}
