{
  "globals": {
    "require": true
  },
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "strict": 0,
    "comma-dangle": [2, "never"],
    "eol-last": 1, // enforce newline at the end of file, with no multiple empty lines
    "no-param-reassign": [2, { "props": false }]
  },
  "extends": "airbnb/base",
  "settings": {
    "ecmascript": 6
  }
}
